.product-grid {
    padding-left: 10px;
    width: 100%;
    margin: 40px 0;
}

.content {
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 10px 0 30px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-grid .content .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}