.hero {
    height: 350px;
    background-color: #E7BBE3;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro {
    flex: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 350px;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    width: 200px;
    height: 200px;
    margin: 0 105px 0 50px;
}