.navbar {
    background: #421820;
    color: white;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .content .logo {
    width: 100px;
    margin-right: 50px;
}

.navbar .content .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    margin-right: 60px;
}

.navbar .content .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-left: auto;
    flex: 1;
    max-width: 700px;
}

.navbar .content li {
    display: list-item;
    font-size: 20px;
    text-align: -webkit-match-parent;
    padding-right: 15px;
}

.social-logo{
    filter: brightness(0) invert(1);
    height: 55px;
}

.fb-logo{
    height: 55px;
}

a{
    color: inherit;
    text-decoration: none;
}